/* border sizing */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.container {
    width: 350px;
    height: 200px;
    position: relative;
    border: 1px solid #ccc;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}
.card {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}
.card div {
    height: 100%;
    width: 100%;
  border-radius: 10px;
    color: white;
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    
}
.front {
  background-image: linear-gradient(45deg, grey, black);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    
}
 .front .chip {
    width: 45px;
    height: 40px;
     margin-top: 20px;
    background-color: goldenrod;
     position: static;
}
.front > * {
    margin-left: 20px;
    padding: 5px;
    font-family: 'Ubuntu Mono', monospace;
    color: rgba(255,255,255,0.8);
}
.front :nth-child(2) {
    align-self: center;
    text-align: center;
    font-size: 16px;
    background-color: rgba(0,0,0,.1);
    border: none;
}
.front :nth-child(3) {
    font-size: 16px;
    background-color: rgba(0,0,0,.1);
    border: none;
}
.front :nth-child(4) {
    font-size: 16px;
    background-color: rgba(0,0,0,.1);
    border: none;
}
.card .front .chip > div {
    width: 30px;
    height: 25px;
    background-color:gold;
    margin-top: 7px;
    margin-left: 5px;
}
.card .back {
    background-image: linear-gradient(45deg, black, grey);
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
/*Magic starts here*/
.card .flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
.card :hover  {
    -webkit-transform: rotateX(20deg);
    transform: rotateX(20deg);
    transition: 800ms;
    box-shadow: 0 20px 20px rgba(50,50,50,.2);
}